/*************************************************************************/
/* Mobile Navigation Styles */
/*************************************************************************/
nav {  
	height: 40px;  
	background-color: #fff;
    width: 100%;  
    position: relative;  
}

nav ul {  
	padding: 0;  
    margin: 0 auto;  
    width: 600px;  
    height: 40px;  
}  
   
nav li {  
    display: inline;  
    float: left;  
}

nav a {  
	color: #333;  
    display: inline-block;  
    width: 100px;  
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;  
}  
    
nav li a {  
	border-right: 1px solid #ededed;  
	border-left: 1px solid #ededed;  
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  

nav li:nth-child(even) a {  
	border-left: 0px solid #ededed;  
}  

nav li:last-child a {  
	border-right: 1px solid #ededed;  
}  
    
nav a:hover, nav a:active {  
	color: #9E9E9E;
}  
    
nav a#pull {  
    display: none;
} 


@media screen and (max-width: 801px) {  
	nav {   
		height: auto;  
	}  

	nav ul {  
		width: 100%;  
		display: none;  
		height: auto;  
	}  
	
	nav li {  
		width: 50%;  
		float: left;  
		position: relative;  
		margin-left: 0;
	}

	nav li a {  
		border-bottom: 1px solid #ededed;  
	}  

	nav a {  
		text-align: left;  
		width: 100%;  
		text-indent: 5px;  
	}  
	
	nav a#pull {  
		display: block;  
        width: 100%;  
        position: relative;  
	}  
    
    nav a#pull:after {  
		content:"";  
        background: url('../../images/common-images/menu-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
		top: 3px;  
	}  
	
}  
    
@media only screen and (max-width : 480px) {  
	nav {  
		border-bottom: 0;  
	}  

	nav ul {  
		width: 100%;  
		display: none;  
        height: auto;  
	}  

	nav a#pull {  
		display: block;  
        width: 100%;  
        position: relative;  
	}  
    
    nav a#pull:after {  
		content:"";  
        background: url('../../images/common-images/menu-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
		top: 3px;  
	}  
}  
    

@media only screen and (max-width : 320px) {  
	nav li {  
		display: block;  
        float: none;  
        width: 100%;  
	}  
    
	nav li a {  
		border-bottom: 1px solid #ededed;  
	}  
	nav li:nth-child(even) a {  
		border-left: 1px solid #ededed;  
	}
}  
    

.clearfix:before,  
.clearfix:after {  
	content: " ";  
    display: table;  
}  

.clearfix:after {  
	clear: both;  
}  

.clearfix {  
	*zoom: 1;  
}  
